sudo: required
services:
  - docker

branches:
  only: 
    - main

before_install:
  - docker build -t raje2012/docker-react -f Dockerfile.dev .


script:
  - docker run -e CI=true raje2012/docker-react npm run test

deploy:
  provider: elasticbeanstalk
  region: 'us-east-2'
  app: 'docker'
  env: 'Docker-env'
  bucket_name: 'elasticbeanstalk-us-east-2-807882652755'
  bucket_path: 'docker'
  on:
    branch: main
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
